@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html {
	height: 100%;
}

body {
	position: relative;
	font-family: "Nanum Gothic", "Apple SD Gothic Neo", "돋움", Times;
	height: 100%;
}

div {
	/* border: 1px solid red; */
}

a {
	text-decoration: none;
}

.button {
	display: block;
	background-color: white;
	color: #FFFFFF;
	border: 1px solid #0077FF;
	background-color: #0077FF;
	padding: 7px 6px;
	text-decoration: none;
	font-size: 12px;
	font-weight: 600;

	border-radius: 3px;
	-webkit-border-radius: 3px;
}

div#wrapper {
	position: absolute;
	width: 100%;
	min-width: 1000px;
	height: 100%;
	min-height: 710px;
	/* border : 2px solid gray; */
	overflow: hidden;
}

div#header {
	height: 40px;
	min-width: 1000px;
	background-color: #EDEDED;
}

div#header * {
	float: left;
}

div#header>h1 {
	margin-top: 9px;
	margin-left: 10px;
	font-size: 20px;
	font-weight: 900;
}

div#header>p {
	margin-top: 13px;
	margin-left: 5px;
	font-size: 13px;
	font-weight: 900;
	color: #777777;
}

div#header>#login {
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}

div#container {
	width: 100%;
}

div#categories {
	width: 100%;
	height: 30px;
	text-align: center;
}

div#categories>ul {
	/* 그냥 inline은 margin을 줘도 안 먹어서 inline-block으로 작업 */
	/* inline-block의 영역이 좀 더 넓은 것 같은데... 차이는 잘 모르겠다 */
	display: inline-block;
	margin-top: 10px;
}

div#categories li {
	/* float: left 이용 시 가운데 정렬이 어려워 inline으로 작업했음 */
	display: inline;
	padding: 0px 4px 0px 9px;
}

div#categories .ctgry_li {
	border-left: 1px solid #AAAAAA;
}

div#categories a {
	text-align: center;
	color: #333333;
	font-size: 12px;
	font-weight: 900;
}

div#panels {
	/* 좌우 panel을 보여주기 위해 폭을 넓게 잡았다 */
	position: absolute;
	top: 50%;
	left: -100%;
	width: 500%;
	height: 560px;
	margin-top: -280px;
}

div.shiftPanelLeft {
	animation: rollingLeft;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;

	-webkit-animation: rollingLeft;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
}
@keyframes rollingLeft {
	from { transform: translateX(0px); }
	to { transform: translateX(1000px); }
}
@-webkit-keyframes rollingLeft {
	from { -webkit-transform: translateX(0px); }
	to { -webkit-transform: translateX(1000px); }
}

div.shiftPanelRight {
	animation: rollingRight;
	animation-duration: 0.6s;
	animation-timing-function: ease;
	animation-fill-mode: forwards;

	-webkit-animation: rollingRight;
	-webkit-animation-duration: 0.6s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: forwards;
}
@keyframes rollingRight {
	from { transform: translateX(0px); }
	to { transform: translateX(-1000px); }
}
@-webkit-keyframes rollingRight {
	from { -webkit-transform: translateX(0px); }
	to { -webkit-transform: translateX(-1000px); }
}

div#panels>.panelWrapper {
	position: absolute;
	left: 20%;
	width: 20%;
	height: 560px;
	background: url(../img/bg_panel.png) 50% 0 no-repeat;
}

div.panelWrapper>.panel {
	position: relative;
	width: 900px;
	height: 540px;
	margin: 0 auto;
}

div#pw0 {
	margin-left: -2000px;
}

div#pw1 {
	margin-left: -1000px;	
	z-index: 30;
}

div#pw2 {
	margin-left: 0px;
	z-index: 50;
}

div#pw3 {
	margin-left: 1000px;
	z-index: 30;
}

div#pw4 {
	margin-left: 2000px;
}

div.panel>.panelContents {
	position: absolute;
	left: 50%;
	margin-left: -420px;
	top: 50%;
	margin-top: -250px;
	width: 840px;
	height: 500px;
}

div.panelContents h3 {
	padding-bottom: 10px;
	border-bottom: 3px solid #AAAAAA;
}

.titleAnchor {
	width: 0px;
	height: 55px;
}

div.panel iframe {
	/* border: 1px solid red; */
	position: absolute;
	width: 840px;
	height: 380px;
	bottom: 25px;
}

div#panelButton * {
	position: absolute;
	top: 50%;
	opacity: 0.8;
	margin-top: -40px;
	width: 40px;
	height: 60px;
	z-index: 100;
}

div#panelButton p {
	display: none;
}

div#panelButton #toLeft {
	left: 50%;
	margin-left: -500px;
	background: url(../img/to_left.png) 0 no-repeat;
	background-position: center;
}

div#panelButton #toRight {
	right: 50%;
	margin-right: -500px;
	background: url(../img/to_right.png) 0 no-repeat;
	background-position: center;
}

div#footer {
	position: absolute;
	bottom: 0px;
	width: 100%;
	background-color: #EDEDED;
}

div#footer>div {
	position: relative;
	display: block;
	height: 90px;
	text-align: center;
}

div#thumbnails {
	display: inline-block;
	margin-top: 6px;
}

div#thumbnails>div{
	display: inline-block;
	margin-right: 3px;
}

div#thumbnails a {
	display: inline-block;
	float: left;
	overflow: hidden;
	border: 1px solid #AAAAAA;
}

div#thumbnails img {
	margin: -1px;
}

div#thumbnails .selected>a {
	border: 3px solid #777777;
}

div#thumbnails .selected img{
	margin: -3px;
}

